{% extends "base.html" %}


{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static "utility.css"%}">
<link rel="stylesheet" href="{% static "style.css"%}"> 
<script src="{% static "details.js"%}"></script>
<title>Welcome!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}


{% block body %}
<!-- Navbar -->
<div class="navbar-container">
    <div class="navbar-logo">
      <span>
        <img id="logo" height="48" width="48" alt="" src="{% static "navbarico.svg" %}"></img>
        Energy</span>Module
    </div>
    <div class="tabs">
        <nav>
          <ul>
              <li><a class="active" href="#">Login</a></li>
              <li><a class="inactive" href="#">Warm-Up</a></li>
              <li><a class="inactive" href="#">Instruction</a></li>
              <li><a class="inactive" href="#">Final</a></li>        
          </ul>
        </nav>
    </div>
    <div class="reporting">
      <div class="statement">
        <h4>I am feeling</h4>
      </div>
      <div id="mental-state-buttons"></div>
      <button id="distracted-button" class="btn alternate1">Distracted</button>
      <button id="focused-button" class="btn primary">Focused</button>
    </div>
</div>



<div id="main1" class="wrapper">
    <div class="hdr">
        <h4>
        In this module you will learn how to solve force problems using Newton's Second Law.
        </h4>
    </div>
    <div class="lft"></div>
    <div class="ctr">
        <table class="mytable">
            <tr id="LI1">
              <td>
                <img src="{% static "bullet.svg"%}"/>
              </td>
              <td>
                First you will solve a few problems just to get warmed up.
              </td>
            </tr>
            <tr id="LI2">
              <td>
                <img src="{% static "bullet.svg"%}"/>
              </td>
              <td>
                Next you will watch a few short videos. The videos have embedded questions that will pop up.
              </td>
            </tr>
            <tr id="LI3">
              <td>
                <img src="{% static "bullet.svg"%}"/>
              </td>
              <td>
                It is okay to go back and re-watch parts of the video to help you answer the questions.
              </td>
            </tr>
            <tr id="LI4">
              <td>
                <img src="{% static "bullet.svg"%}"/>
              </td>
              <td>
                Next you will go on to answer some questions about how well you feel you learned the material
              </td>
            </tr>
            <tr id="LI5">
              <td>
                <img src="{% static "bullet.svg"%}" />
              </td>
              <td>
                Finally you will take a short quiz at the end based on the material from the module
              </td>
            </tr>
          </table>
   </div>
   <div class="rght"></div>
    <div class="ftr">
        <button class="btn primary" onclick="hide1(); show2();" >Next</button>
    </div>
</div>

<div id="main2" class="wrapper">
  <div class="hdr">
      <h4>
      Our Learning Goals Will Be
      </h4>
  </div>
  <div class="lft"></div>
  <div class="ctr">
      <table class="mytable">
          <tr id="LI6">
            <td>
              <img src="{% static "bullet.svg"%}"/>
            </td>
            <td>
              To resolve a vector into its components
            </td>
          </tr>
          <tr id="LI7">
            <td>
              <img src="{% static "bullet.svg"%}"/>
            </td>
            <td>
              To write an equation for the net force
            </td>
          </tr>
          <tr id="LI8">
            <td>
              <img src="{% static "bullet.svg"%}"/>
            </td>
            <td>
              To write Newton's second law
            </td>
          </tr>
          <tr id="LI9">
            <td>
              <img src="{% static "bullet.svg"%}"/>
            </td>
            <td>
              To solve Newton's second law
            </td>
          </tr>
        </table>
 </div>
 <div class="rght"></div>
  <div id="ftr2" class="ftr">
      <button class="btn secondary" onclick="hide2();show1()">Prev.</button>
      <button class="btn primary" onclick="hide2();show1();">Next</button>
  </div>
</div>



{% endblock %}
