{% extends "base.html" %}


{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static "utility.css"%}">
<link rel="stylesheet" href="{% static "style.css"%}"> 
<script src="{% static "main_page.js"%}"></script>
<title>Welcome!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% endblock %}

{% load static %}
{% block body %}
<!-- Navbar -->
<div class="navbar-container">
    <div class="navbar-logo">
      <span>
        <img id="logo" height="48" width="48" alt="" src="{% static "navbarico.svg" %}"></img>
        Energy</span>Module
    </div>
    <div class="tabs">
        <nav>
          <ul>
              <li><a class="active" href="#">Login</a></li>
              <li><a class="inactive" href="#">Warm-Up</a></li>
              <li><a class="inactive" href="#">Instruction</a></li>
              <li><a class="inactive" href="#">Final</a></li>       
          </ul>
        </nav>
    </div>
</div>

<div id="pre-statement" class="wrapper">
    <div class="hdr">
        <h3>In the present section</h3>
    </div>
    <div class="lft"></div>
    <div class="ctr">
        <p>We will answer a few questions just to get warmed up and get a background. This is the place to show us what you already know. Relax and do your best!</p>
    </div>
    <div class="rght"></div>
    <div class="ftr">
        <button>Next</button>
    </div>
</div>



{% endblock %}
