/*################
  ################
  ## Login Page ##
  ################
  ################*/



/*#######
   Login
   Form 
#######*/

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

div#login-container{
    padding: 5vw;
    margin: 5vw;
}

.form-wrap.login {
    padding: 1vw 1vw;
    border-radius: 20px;
    background-color: #8c979d;
    -moz-box-shadow: 0px 0px 10px #8c979d;
    -webkit-box-shadow: 0px 0px 10px #8c979d;
    box-shadow: 0px 0px 10px #8c989d;
}

.form-wrap.login h3 {
    text-align: center;
    font-size: 2rem;
}

#login-container img {
    height: 80%;
}

.login-img {
    margin: 5vw;
}

#login-container input{
    margin: 1vh;
    padding: 1vh;
    width: 25vw;
    height: 2.5vw;
    border-radius: 10px;
    border: none;
}

#login-container input:focus, #login-container input:active {
    border: 1px solid #6c63ff;
}

.button-box {
    margin-top: 2vw;
    display: flex;
    justify-content: center;

}

.button-box button {
    border-color: #333;
    margin: 0 50px;
    width: 100px;
}

 /*######## 
    Login 
    Form 
    Errors 
 #########*/

 .error {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .error .flex-item h5 {
     color: red;
 }

 /*############
      User
      Help
    Section
###############*/

 #help{
     width: 100%;
     height: 85%;
     top: 50%;
     display: none;
     grid-template-areas: 
     "hdr hdr hdr"
     "box1 box2 box3"
     "box4 box5 box6"
     "box7 box8 box9"
     "ftr ftr ftr";
     align-items: center;
     justify-content: center;
     padding: 2vw;
     grid-gap: 1.5vw;

 }

#help .box1 img {
    width: 10rem
}

.heading{grid-area: hdr;}
.box1{grid-area: box1;}
.box2{grid-area: box2;}
.box3{grid-area: box3;}
.box4{grid-area: box4;}
.box5{grid-area: box5;}
.box6{grid-area: box6;}
.box7{grid-area: box7;}
.box8{grid-area: box8;}
.box9{grid-area: box9;}
.box10{grid-area: ftr;}

#help > div {
    font-size: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

/*#################
  #################
  ## Logout Page ##
  #################
  #################*/

.logged-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.logged-out > div {
    text-align: center;
}

/*######################
  ######################
  ## Module Selection ##
  ##    (Main) Page   ##
  ######################
  ######################*/

  .contr{
      height: 85vh;
  }
  .choose-module {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1vh 10vw;
      margin: auto;
      top: 50%;
      height: 85%;
      
  }
    
  .choose-module > div {
      width: 60%;
      align-items: center;
      vertical-align: middle;
      padding: 4.5vh;
      margin: auto;
      text-align: center;
      border-radius: 20px;
  }

  .choose-module button {
    width: 60%;
    align-items: center;
    vertical-align: middle;
    padding: 4.5vh;
    margin: 1vh;
    text-align: center;
    border-radius: 20px;
}

.choose-module > div a {
    text-decoration: none;
    font-size: 1.5rem;
}


/*######################
  ######################
  ##     Info Page    ##
  ######################
  ######################*/


  /* Simple 3 row container with heading single content area and footer */
 .wrapper{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 75vh;
    margin: 5vh 5vw;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 30px;
 }

 .wrapper input {
     width: 3rem;
 }

.info.wrapper .hdr{
    padding: 0 15vw;
    text-align: center;
}

 .ctr{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

form{
    font-size: 1.3rem;
}

.ctr.quiz img {
    width: 20vw;
}

 .ftr{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .wrapper table img {
     width: 1.5rem;
     margin: 1rem 2rem;
 }

 .info.wrapper table {
     font-size: 1.2rem;
 }

 .info.wrapper .ctr{
     padding: 0 20vw;;
 }

 #ftr2{
     justify-content: space-around;
     padding: 0 15vw;
 }

 /*######################
  ######################
  ##     Pre-Test     ##
  ######################
  ######################*/

  .wrapper img {
      width: 17vw;
  }

#q7-container.wrapper img{
    height: 40vh;
} 

  .wrapper.pretest .hdr{
      padding: 0 5vw;
      margin: 5vh 0;
      text-align: center;
  } 

  /* form#question4 > div {
      display: inline;
      padding-right: 2vw;
  } */

.ctr form .ctr-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem 5rem;
  }

  input {
      width: 1.2rem;
      height: 1.2rem;
  }

  #button-box {
      display: flex;
      justify-content: center;
      align-items: center;
  }

#pre-statement .ctr {
    padding: 0 10vw;
}




