/*################
  ################
  ## Login Page ##
  ################
  ################*/

/*#######
   Login
   Form 
#######*/

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

div#login-container{
    padding: 5vw;
    margin: 5vw;
}

.form-wrap.login {
    padding: 1vw 1vw;
    border-radius: 20px;
    background-color: #8c979d;
    -moz-box-shadow: 0px 0px 10px #8c979d;
    -webkit-box-shadow: 0px 0px 10px #8c979d;
    box-shadow: 0px 0px 10px #8c989d;
}

.form-wrap.login h3 {
    text-align: center;
    font-size: 2rem;
}

#login-container img {
    height: 80%;
}

.login-img {
    margin: 5vw;
}

#login-container input{
    margin: 1vh;
    padding: 1vh;
    width: 25vw;
    height: 2.5vw;
    border-radius: 10px;
    border: none;
}

#login-container input:focus, #login-container input:active {
    border: 1px solid #6c63ff;
}

.button-box {
    margin-top: 2vw;
    display: flex;
    justify-content: center;

}

.button-box button {
    border-color: #333;
    margin: 0 50px;
    width: 100px;
}

 /*######## 
    Login 
    Form 
    Errors 
 #########*/

 .error {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .error .flex-item h5 {
     color: red;
 }

 /*############
      User
      Help
    Section
###############*/

 #help{
     width: 100%;
     height: 85%;
     top: 50%;
     display: none;
     grid-template-areas: 
     "hdr hdr hdr"
     "box1 box2 box3"
     "box4 box5 box6"
     "box7 box8 box9"
     "ftr ftr ftr";
     align-items: center;
     justify-content: center;
     padding: 2vw;
     grid-gap: 1.5vw;

 }

#help .box1 img {
    width: 10rem
}

.heading{grid-area: hdr;}
.box1{grid-area: box1;}
.box2{grid-area: box2;}
.box3{grid-area: box3;}
.box4{grid-area: box4;}
.box5{grid-area: box5;}
.box6{grid-area: box6;}
.box7{grid-area: box7;}
.box8{grid-area: box8;}
.box9{grid-area: box9;}
.box10{grid-area: ftr;}

#help > div {
    font-size: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

/*#################
  #################
  ## Logout Page ##
  #################
  #################*/

.logged-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.logged-out > div {
    text-align: center;
}

/*######################
  ######################
  ## Module Selection ##
  ##    (Main) Page   ##
  ######################
  ######################*/

  .contr{
      height: 85vh;
  }
  .choose-module {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1vh 10vw;
      margin: auto;
      top: 50%;
      height: 85%;
      
  }
    
  .choose-module > div {
      width: 60%;
      align-items: center;
      vertical-align: middle;
      padding: 4.5vh;
      margin: auto;
      text-align: center;
      border-radius: 20px;
  }

  .choose-module button {
    width: 60%;
    align-items: center;
    vertical-align: middle;
    padding: 4.5vh;
    margin: 1vh;
    text-align: center;
    border-radius: 20px;
}

.choose-module > div a {
    text-decoration: none;
    font-size: 1.5rem;
}


/*######################
  ######################
  ##     Info Page    ##
  ######################
  ######################*/

  .wrapper{
    display: grid;
    grid-template-areas: 
    'hdr hdr hdr hdr hdr hdr'
    'lft ctr ctr ctr ctr rght'
    'ftr ftr ftr ftr ftr ftr';
    align-items: center;
    justify-content: center;
    height: 85%;
    top: 50%;
  }

.hdr{grid-area: hdr;}

.lft{grid-area: lft;}

.ctr{grid-area: ctr;}

.rght{grid-area: rght;}

.ftr{grid-area: ftr;}

.wrapper.hdr {
    text-align: center;
    padding: 0 10vw;}

.wrapper.ctr{
    display: flex;
    flex-direction: column;
    padding: 0 20vw;}

.wrapper.ftr {text-align: center;}

.wrapper table {
    width: 100%;}

.wrapper table tbody tr td {
    font-size: 1.2rem;
    padding-bottom:0;
    left: 50%;
    margin: 1vh 0;}

.wrapper table img {
    width: 25px;
    margin: 25px;}

#ftr2 {
    display: flex;
    justify-content: center;
}

#ftr2 button {
    margin: 0 10vw;
}

/*######################
  ######################
  ##    Assessment    ##
  ######################
  ######################*/

.quiz-question {
    display: grid;
    grid-template-areas: 
    "hdr hdr"
    "lft rght"
    "ftr ftr";
}

#pre-statement {
    text-align: center;
    justify-content: center;
}

#pre-statement p {
    padding: 0 30vw;
    font-size: 1.5rem;
}
